.card-character {
  display: flex;
  flex-direction: column;
  
}

.card-character > img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: inset;
}



.card-character > div.card-character-body {
  background-color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cardText{
  color: black;
  background-color: white;
}